.layout {
  display: flex;
  background: #0b0c10; 
  color: #eaeaea;
  font-family: "Poppins", sans-serif;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-main {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  background: #1f2833; 
  border-radius: 12px;
  margin: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
}

.layout-main::-webkit-scrollbar {
  width: 8px;
}

.layout-main::-webkit-scrollbar-track {
  background: #0b0c10;
  border-radius: 8px;
}

.layout-main::-webkit-scrollbar-thumb {
  background: #45a29e;
  border-radius: 8px;
}

.layout-main::-webkit-scrollbar-thumb:hover {
  background: #66fcf1;
}
